@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Londrina+Solid);

body {
  padding: 0px;
  margin: 0px;
  background:
    linear-gradient(rgba(35, 15, 75, 0), rgba(45, 25, 60, 0)),
    url('images/bg2.jpg');
  background-repeat: repeat;
  background-blend-mode: difference;

}

.wrapper {
  background-color: linear-gradient(rgba(35, 15, 75, 0.95), rgba(75, 145, 210, 0.95));
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 260px;
  margin: -200px 0px 0px -312px;
  background: rgba(0,0,0,0);
  border: 0px solid rgba(0,0,0,0.1);
  padding: 40px;
  border-radius: 10px;
}

.main-header {
  font-size: 50pt;
  font-family: 'Londrina Solid', 'Lato', 'HelveticaNeue', Helvetica, sans-serif;
  letter-spacing: 5px;
  color: white;
  margin: 0 auto;
  text-align: center;
}

.sub-header {
  font-size: 20pt;
  font-family: 'Lato', 'HelveticaNeue', Helvetica, sans-serif;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 auto;
  text-align: center;
}

.main-image {
  float: center;
}

ul {
  margin: 35px 0px 0px 0px;
  padding: 0px;
}

li {
  display: inline;
}

.main-link {
  margin: 5px;
  padding: 15px 20px;
  text-decoration: none;
  color: white;
  border-radius: 4px;
  font-family: 'Londrina Solid', 'Lato', 'HelveticaNeue', Helvetica, sans-serif;
  font-size: 14pt;
}

.maroon {
  background: rgba(200, 0,0, 0.8);
  border-bottom: 6px solid rgba(100, 0, 0, 1);
}

.teal {
  background: rgba(50, 150, 220, 0.8);
  border-bottom: 6px solid rgba(20, 100, 170, 0.8);
}

.green {
  background: rgba(80, 180, 0, 0.8);
  border-bottom: 6px solid rgba(50, 130, 0, 1);
}

.grey {
  background: rgba(80, 80, 80, 0.8);
  border-bottom: 6px solid rgba(50, 50, 50, 1);
}

.big-link {
  margin: 5px;
  padding: 20px 60px;
  text-decoration: none;
  color: white;
  border-radius: 30px;
  background: rgba(255,255,255,0.2);
  border: 0px solid rgba(255,255,255,0.2);
  font-family: 'Lato', 'HelveticaNeue', Helvetica, sans-serif;
  letter-spacing: 0px;
  font-size: 14pt;
}

.navbar {
  position: absolute;
  top: 0px;
  padding: 0px 0 0 0;
  margin: 0 auto;
  width: 100%;
  background: none;
}

.social-icon, .social-icon:visited, .social-icon:active {
  color:rgba(255,255,255,1);
  float: right;
  margin: 20px 30px 0px 0px;
  opacity: 0.25;
}

.social-icon:hover {
  opacity: 0.75;
}

#portfolio {
  opacity: 1;
  display: none;
}

.portfolio-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.6));
  border: 0px solid rgba(0,0,0,0.1);
  border-radius: 0px;
  z-index: 100;
}


.portfolio-box {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 600px;
  margin: -320px 0px 0px -400px;
  background: rgba(0,0,0,1);
  border: 2px solid rgba(0,0,0,0.1);
  border-radius: 0px;
}

.portfolio-close {
  top: 0px;
  color: rgba(0,0,0,0.3);
  text-decoration: none;
  font-family: 'Lato', 'HelveticaNeue', Helvetica, sans-serif;
  float: right;
  margin: 15px 20px;
  font-size: 22pt;
}
